#[alias]
#       st = status -sb
#       ci = commit
#       co = checkout
#        graph = log --graph --oneline --decorate=short --branches='*'
#       br = branch
#       df = diff --color-words='[^[:space:]]'
# sh = show --color-words='[^[:space:]]'
#       lg = log -p
#        serve = !git daemon --reuseaddr --verbose --base-path=. --export-all ./.git
#        pend = cherry -v origin/master
#       prefab = cherry -v origin/fabrication
[apply]
        whitespace = nowarn
[user]
        email = lyons.mr@gmail.com
        name = Mike Lyons
[color]
        ui = auto
        pager = true
        push = true
[color "branch"]
        current = cyan black bold
        local = yellow
        remote = green bold
[color "diff"]
        meta = magenta dim
        frag = yellow bold
        old = red
        new = green
        commit = black green dim
        whitespace = red
[color "status"]
        header = white dim
        branch = red
        localBranch = red bold
        remoteBranch = magenta dim
        added = green
        changed = yellow
        updated = green
        untracked = cyan
        unmerged = blue red
        nobranch = red reverse
[color "interactive"]
        prompt = blue bold
        header = cyan blue
        help = cyan
        error = yellow red blink
[color "stash"]
        item = red
[commit]
        template = /home/mikelyons/.gitmessage.txt
[core]
        editor = vim
[format]
        pretty = '%C(yellow)%h%Creset %C(magenta)%cd%Creset %d %s'
[log]
#       date = short
        date = relative
[push]
        default = simple

