[user]
        email = test@example.com
        name = Mike Lyons
[color]
        ui = auto
[color "branch"]
        current = cyan black bold
        local = yellow
        remote = green bold
[color "diff"]
        meta = magenta dim
        frag = yellow bold
        old = red bold
        new = green bold
        commit = cyan reverse
        whitespace = red
[color "status"]
        header = red dim
        branch = red bold
        added = green black
        changed = yellow red bold
        updated = yellow red blink
        untracked = cyan
        nobranch = red reverse
[color "interactive"]
        prompt = blue bold
        header = cyan blue
        help = cyan
        error = yellow red blink
[commit]
        template = /home/mikelyons/.gitmessage.txt
