[user]
        email = lyons.mr@gmail.com
        name = Mike Lyons
[color]
        ui = auto
        pager = true
        push = true
[color "branch"]
        current = cyan black bold
        local = yellow
        remote = green bold
[color "diff"]
        meta = magenta dim
        frag = yellow bold
        old = red
        new = green
        commit = red cyan dim
        whitespace = red
[color "status"]
        header = white dim
        branch = red
        localBranch = red bold
        remoteBranch = magenta dim
        added = green
        changed = yellow
        updated = green
        untracked = cyan
        unmerged = blue red
        nobranch = red reverse
[color "interactive"]
        prompt = blue bold
        header = cyan blue
        help = cyan
        error = yellow red blink
[color "stash"]
        item = red
[commit]
        template = /home/mikelyons/.gitmessage.txt
[core]
        editor = vim
